/* App.css */

/* Overall styling for the app container */
.App {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease; /* Transition for smooth background color change */

}

/* Styling for the heading */
h1 {
    color: #333;
}

/* Styling for the paragraph showing data update time */
p {
    font-size: 14px;
    color: #555;
}

/* Styling for the buttons container */
div button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

/* Styling for the pressed buttons */
div button.pressed {
    background-color: #d50e0e;
}


/* Styling for the rendered port calls */
div > div {
    margin-top: 20px;
}


/* Styling for individual port call entries */
div > div > div {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Styling for vessel name */
div > div > div strong {
    color: #333;
}

/* Styling for ETA and number of passengers */
div > div > div p {
    color: #555;
}

.menu {
    position: fixed;
    top: 0;
    right: -300px; /* Initial position outside the viewport */
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease; /* Transition for smooth sliding effect */
}

.slide-in {
    right: 0; /* Move the menu into the viewport when open */
}

.slide-out {
    right: -300px; /* Move the menu outside the viewport when closed */
}

/* Styling for dark mode */
.dark-mode {
    background-color: #333 !important;
    color: #fff;
}

/* Styling for dark mode buttons */
.dark-mode button {
    background-color: #555;
    color: #fff;
}

/* Styling for dark mode pressed buttons */
.dark-mode button.pressed {
    background-color: #777;
}

/* Styling for dark mode menu */
.dark-mode .menu {
    background-color: #333;
}

/* Styling for dark mode heading */
.dark-mode h1 {
    color: #fff;
}

.dark-mode p {
    color: #fff;
}
